#probdis {
    display: flex;
    width: 100%;
    height: 90%;
}

#probques {
    /* background-color: aqua; */
    width: 15vw;
    height: 850px;
    border-right: 2px solid white;
    color: white;
}

#probques ul {
    margin-top: 10px;
    height: 680px;
    overflow-y: scroll;
}

#probques ul::-webkit-scrollbar {
    display: none;
}

#probques .myarrow {
    display: flex;
    align-items: center;
    word-spacing: 12px;
    letter-spacing: 1px;
    cursor: pointer;
    font-size: 24px;
    margin-bottom: 10px;
}
#probques .myarrow:hover, h5:hover{
    color: aqua;
}

#probques .myarrow h4 {
    padding-right: 5px;
}

#probques #quesinput {
    width: 200px;
    border: 2px solid white;
    background-color: transparent;
    color: white;
    border-radius: 10px;
    margin-top: 20px;
    height: 40px;
}

#probques div#quesinput {
    border-color: aliceblue;
}

#probques div#quesinput h1 {
    display: flex;
    align-items: center;
    align-items: center;
}

#probques div#quesinput h1 svg {
    margin-bottom: 6px;
    margin-right: 10px;

}

#probques div#quesinput h1 svg#searchmenu {
    margin-bottom: 6px;
    margin-left: 40px;

}

#probans {
    width: 85vw;
    height: auto;
}

#probans .box1 {
    background-color: aliceblue;
    color: black;
    height: 80px;
    width: 90%;
    margin: 20px;
    margin-top: 25px;
    border-radius: 10px;
    border-right: 5px solid green;
    border-bottom: 5px solid green;
}
#progressbar{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
#progressbar #player{
    display: flex;
    gap: 20px;
    flex-direction: row;
}
#progressbar progress{
    
    width: 60vw;
    height: 25px;
}

#probans .box1.b1 {
    height: 80px;
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
}
#probans .box1.b1 h4{
    margin-left: 20px;
}

#probans .box2 {
    background-color: aliceblue;
    color: black;
    margin-left: auto;
    font-size: small;
    margin-right: 100px;
    margin-top: 90px;
    height: 330px;
    width: 30%;
    border-radius: 10px;
    border-right: 5px solid green;
    border-bottom: 5px solid green;
}

#probans .box2.b2 {
    height: 140px;
    margin-top: 15px;

}

#probans .box2 .box22 {
    display: flex;
    align-items: center;
   
    padding-left: 10px;
    padding-top: 10px;
    flex-shrink: 0;
    overflow: hidden;
}

#probans .box2 .box22 h1 {
    color: black;
    width: 15vw;
    white-space: nowrap;
    height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;

}

@keyframes textmove {
    0% {
        transform: translateX(200px);

    }

    100% {
        transform: translateX(-350px);
    }
}

#probans .box2 .box22 h2#ma {
    margin: 2px;
    margin-left: auto;

}

#probans .box2 .box22 h2#ma a {
    color: black;
}

#probans .box2 .box22 h2#ma a:hover,
h2:hover {
    color: rgb(1, 159, 180);
}
#linkQus{
    margin-left: auto;
}
#probans .box2 .box22 h3#linkQus a{
    padding: 5px;
    border-radius: 20px;
    
}

#probans .box2 .box22 h2 a {
    color: black;

}

#probans .box2 .box22 h2 {
    padding: 5px;
    border-radius: 10px;
    margin-right: 10px;
    cursor: pointer;
}

#probans .box3 {
    width: 30vw;
    height: 50px;

    border-radius: 10px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: -836px;
    margin-left: auto;
    margin-right: 100px;
    border-right: 5px solid green;
    border-bottom: 5px solid green;
    background-color: white;
}

#probans .box3 div {
    overflow: hidden;
}

#probans .box3 div h2 {
    width: 200px;
    white-space: nowrap;
    text-overflow: ellipsis;
    animation: textmove 8s linear infinite;
}

#probans .box4 {
    width: 600px;
    height: 100px;
    margin-top: -50px;
    margin-left: 30px;
    color: white;
}


#probans .box4 .box44 {
    border-radius: 10px;
    border-right: 5px solid green;
    border-bottom: 5px solid green;
    background-color: aliceblue;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
    height: 100px;
    width: 600px;
}

#probans .box4 .box44 h1 {
    color: black;
}

#probans .box5 {
    background-color: transparent;
    color: white;
    width: 45vw;
    height: 430px;
    margin-top: 80px;
    margin-left: 30px;
    border: 2px solid white;
}

#problemques {
    color: white;
    margin: 10px;
    font-size: 20px;
    padding: 5px;
    cursor: pointer;
}

#problemques a:hover {
    color: aqua;
}

#problemques:hover {
    color: aqua !important;

}

h1 {
    color: white;
}