@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* --- Reset & Global Base --- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}


*::-webkit-scrollbar,
html::-webkit-scrollbar,
main::-webkit-scrollbar,
.code-container::-webkit-scrollbar,
.code-input::-webkit-scrollbar {
  display: none !important;
}

html {
  scrollbar-width: none;
}

body {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  background: #0b0b0c;
  color: white;
  
  font-family: 'Times New Roman', Times, serif;
  user-select: none;
  -webkit-font-smoothing: antialiased;
}

main {
  width: 100%;
  max-width: 1400px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 15px;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex: 1; /* Allows it to take all remaining horizontal space */
  flex-direction: column;
  
  gap: 16px;
}
main, .page-wrapper {
  max-width: 100% !important; /* Change from fixed px values like max-width: 1400px */
  width: 100%;
}

a {
  color: white;
  text-decoration: none;
  transition: color 0.2s ease;
}

/* --- Responsive Header & Navigation --- */

/* --- Authentication & Form Styles --- */

/* --- Interactive Code Editor Container --- */
.editor-wrapper {
  position: relative;
  background-color: #1e1e1e;
  border-radius: 6px;
  height: 265px;
  width: 100%;
  overflow: hidden;
  font-family: 'Times New Roman', Times, serif;
  font-size: 14px !important;
  line-height: 25px !important;
}

.code-container,
.code-input {
  margin: 0 !important;
  border: 0 !important;
  outline: 0 !important;
  box-sizing: border-box !important;
  font-family: inherit !important;
  font-size: inherit !important;
  line-height: inherit !important;
  white-space: pre !important;
  width: 100%;
}

.code-container {
  padding: 16px 0;
  counter-reset: line;
  pointer-events: none; 
  height: 265px;
  background-color: #141210;
  overflow-x: auto;
  overflow-y: scroll;
  scrollbar-width: none;
}

.code-line {
  counter-increment: line;
  display: flex;
  height: 25px; 
}

.code-line::before {
  content: counter(line);
  display: inline-block;
  width: 50px;
  padding-right: 16px;
  color: #858585;
  text-align: right;
  user-select: none;
}

.code-text {
  color: white;
}

.code-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 16px 0px 16px 66px !important; 
  background: transparent;
  color: transparent; 
  caret-color: #ffffff; 
  resize: none;
  overflow: auto;
  scrollbar-width: none !important; 
}



/* Tablets & Small Laptops (Max 1024px) */


/* Mobile Devices (Max 600px) */
@media (max-width: 600px) {
  main {
    padding: 0 10px;
  } 

  .r {
    flex-direction: column;
    gap: 10px;
    padding: 20px;
  }
  .r p{
    display: flex;
    align-items: center;
    justify-content: stretch;
  }

 

  .code-line::before {
    width: 35px;
    padding-right: 8px;
  }

  .code-input {
    padding-left: 45px !important;
  }
}