
#chatmessage{
    
    display: flex;
    align-items:  auto;
    justify-content: center;
    width: 100vw;
    color: black;
    padding: 10px;
    font-size: 20px;
}
#chatmessage input{
    font-size: 30px;
    border: none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 0px 20px;
    height: 40px;
    width: 1200px;
    
}
#chatmessage button{
    height: 40px;
    width: 40px;
    border: none;
     border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
#content{
    background-color: rgb(94, 93, 93);
    border: 2px solid white;
    border-radius: 10px;
    overflow-y: scroll;
    
    width: 98vw;
    height: 750px;
    font-family: sans-serif;
}
#content::-webkit-scrollbar{
    display: none;
}
#content hgroup{
    color: white;
    padding: 5px;
    width: 100vw;
    
}
#content hgroup.roleuser{
   display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding-right: 140px;
     
}
#content hgroup.rolechat{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 50px;  
}
#content hgroup p{
    background-color: black;
    padding: 20px;
    border-radius: 20px;
    font-size: 20px;
   
}
#content hgroup.roleuser p {
    border-top-right-radius: 0px;
   box-shadow: 0px 0px 15px black;
}
#content hgroup.rolechat p {
    border-top-left-radius: 0px;
}
#content button#cleaner{
    background: none;
    border: none;
    font-size: 30px;
    padding: 20px;
    display: flex;
    background-color: white;
    border-radius: 60px;
    margin: 10px;
    justify-self: flex-end;
    box-shadow: 0px 0px 15px black;
    text-align: flex-end;
}

.chatresponse {
    max-width: 800px;
    line-height: 1.7;
    font-size: 16px;
    word-wrap: break-word;
    background-color: black;
    border-radius: 20px;
    border-top-left-radius: 0px;
     box-shadow: 0px 0px 15px black;
    padding: 0px 20px;
}

.chatresponse h1,
.chatresponse h2,
.chatresponse h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

.chatresponse h3 {
    font-size: 20px;
}

.chatresponse p {
    margin: 10px 0;
}

.chatresponse ul {
    margin: 10px 0;
    padding-left: 25px;
}

.chatresponse ul ul {
    margin: 5px 0;
}

.chatresponse li {
    margin: 6px 0;
}

.chatresponse strong {
    font-weight: 700;
}

.chatresponse hr {
    margin: 25px 0;
}
#chathead{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    /* width: 100vw;
    height: 200px; */
    padding: 20px;
    margin-bottom: 30px;
    box-shadow: 0px 0px 15px white;
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    color: white;
    gap: 20px;
}
#chathead img {
    width: 50px;
    height: 50px;
}